body {
   background: #ffffcc;
  font-family: Arial, sans-serif;
    padding: 0px 5px 5px 5px;
    
    
}

footer {
    
    
    margin-top: 5px;
}

header {
    
    margin-bottom: 25px;
    
}